{% extends 'calendars/base.html' %}
{% block content %}

<form action="{% url 'add_c' %}" method="post">
{% csrf_token %}
  <label for="name">Name</label><br />
  <input type="text" name="name" id="name" />
  <br>
  <label for="date">Date</label><br />
  <textarea name="date" id="date"></textarea>
  <br>
  <label for="description">Description</label><br />
  <textarea name="description" id="descriprion"></textarea>
  <br>
  <input type="submit" value="Submit" />
</form>
<a href="/">Go Back</a>

{% endblock %}
